@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Font used: Robato Condensed, Bold 700 - https://fonts.google.com/specimen/Roboto+Condensed?preview.size=29  */

html{
  height: 100%;
  background-color: #faf9f6;
  overflow-y: scroll;
  /* background-image: url("https://www.transparenttextures.com/patterns/fake-luxury.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/dust.png"); */
}

.App {
  background-color: #faf9f6;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  display: flexbox;
  text-transform: uppercase;

  /* Fade Ins: */
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

.Title {
  font-size: 9rem;
  margin-bottom: 1px;
}
@media screen and (max-width: 1000px) {
  .Title {
    font-size: 5rem;
    text-align: left;
  }
  .Nav {
    text-align: left;
  }
}
/* @media screen and (max-width: 545px){
  .Title {
    font-size: 3.5rem;
  }
} */

/* .rows{
  border: 2px solid red;
}
.columns{
  border: 2px solid green;
} */


a {
  text-decoration: none;
  transition-duration: .3s;
}
/* NavBar */
.Nav {
  margin-bottom: 10px;
}
.nav_link {
  color: #848884;
  font-size: 1.5em;
}
.nav_link:hover {
  color: rgba(255, 192, 203, 0.928);
}



.Home {
  margin-top: 100px;
  /* margin-left: 200px;
  margin-right: 200px; */
  /* Fade Ins: */
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

#homeText {
  /* border: 2px solid green; */
  font-size: 1.5em;
  word-spacing: 3px;
  margin-top: 150px;
  max-width: 600px;
  text-align: center;
}
#homeText a{
  color:#848884;

}
#homeText a:hover{
  color:rgba(255, 192, 203, 0.928);
}
#homeImage{
  max-height: 600px;
  width:auto;
  /* padding: 10px; */
  box-shadow: 5px 5px 18px 1px rgba(222, 219, 222, 0.6);
}
@media screen and (max-width: 1000px) {
  .Home{
    /* margin-top: 75px; */
    /* margin-left: 0;
    margin-right: 0; */

  }
  #homeText {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  /* #homeImage{
    height: 350px;
    width: auto;
    float: center;
  } */
}

/* Projects */
.Projects{
  margin-top: 100px;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

.projectCard {
  background-color: white;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  min-height: 42rem;
  max-height: 40rem;
/*-webkit-box-shadow: 1px 1px 5px 1px rgba(173,170,173,0.6);
  -moz-box-shadow: 1px 1px 5px 1px rgba(173,170,173,0.6); */
  box-shadow: 1px 1px 5px 1px rgba(222, 219, 222, 0.6);
}
@media screen and (max-width: 400px) {
  .projectCard {
    min-height: 35rem;
  }
}


.ProjectText{
  padding: 10px;
  /* text-align: left; */
}
#proj_desc {
  color:#676a67;
  margin-bottom: 20px;
}
.ProjIconList{
  list-style: none;
  line-height: 1.75em;
  margin-bottom: 30px;
}
.ProjIcons {
  color: #848884;
  font-size: 1em;
}
.ProjIcons:hover {
  color: black;
}
#tech_used {
  list-style: none;
  margin-top: 5px;
  font-size: .85em;
  color:#676a67;
}


/* Music */
.MusicPage{
  margin-top: 80px;
  text-align: center;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}
.MusicCard{
  line-height: 10px;
  text-align: center;
}


/* Footnote */
.Icons {
  position: relative;
  text-align: center;
  margin-top:125px;


  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}
.faIcons{
  color:#848884;
  font-size: 1.50em;
}
.faIcons:hover{
  color:black;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
