@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Font used: Robato Condensed, Bold 700 - https://fonts.google.com/specimen/Roboto+Condensed?preview.size=29  */

html,body{
  height: 100%;
  background-color: #FAF9F6;
}

.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1%;
  display: flexbox;
  text-transform: uppercase;
  /* font-size: 160%;
  word-spacing: 4px; */
  /* background-color: #E5E4E2; */
}

.Title {
  font-size: 380%;
  position: relative;
  margin-bottom: -85px;
  margin-top: -50px;
  margin-left: -5px;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

a {
  text-decoration: none;
  transition-duration: .3s;
}
/* NavBar */
.nav_link {
  color: #848884;
  font-size: 1.5em;
}
.nav_link:hover {
  color: rgba(255, 192, 203, 0.928);
}
.Nav{
  text-align: right;
  margin-right: 40px;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}


.Home {
  /* text-align: left;
  display: block;
  position: relative; */

  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

#homeText {
  font-size: 1.5em;
  word-spacing: 2px;
  width: 500px;
  margin-top: 200px;
  position: relative;
}
#homeText a{
  color:#848884;
  /* color: #F3CFC6; */
}
#homeText a:hover{
  color:rgba(255, 192, 203, 0.928);
}

/* Projects */
.Projects{
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}
.ProjectCard {
  width: 700px;
  min-width: auto;
  margin: 20px;
  padding: 10px;
  color: black;
  font-size: 1em;
  background-color: white;
  border-radius: 2px;
  text-align: left;
}
#proj_desc {
  color:#676a67;
  margin-bottom: 20px;
}
.ProjIconList{
  list-style: none;
  line-height: 1.75em;

}
.ProjIcons {
  color: #848884;
  font-size: 1em;
}
.ProjIcons:hover {
  color: black;
}

/* Footnote */
.Icons {
  position: relative;
  text-align: center;
  margin-top:125px;

  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}
.faIcons{
  color:#848884;
  font-size: 1.50em;
}
.faIcons:hover{
  color:black;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
