@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Font used: Robato Condensed, Bold 700 - https://fonts.google.com/specimen/Roboto+Condensed?preview.size=29  */

html,body{
  height: 100%;
}

.App {
  /* text-align: center; */
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1%;
  display: flexbox;
  /* font-size: 160%;
  text-transform: uppercase;
  word-spacing: 4px; */
  /* background-color: #E5E4E2; */
}

.Title {
  font-size: 380%;
  position: relative;
  margin-bottom: -50px;
  margin-top: -50px;
  margin-left: -5px;

  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

a {
  text-decoration: none;
}

.faIcons:hover{
  color: red;
}

.Home {
  text-align: left;
  display: block;
  position: relative;
  margin-top: 75px;
  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

#homeText {
  font-size: 1.5em;
  text-transform:uppercase;
  word-spacing: 2px;
  width: 40%;
}
#homeText a{
  color:#848884;
  /* color: #F3CFC6; */
}
#homeText a:hover{
  color:rgba(255, 192, 203, 0.928);
}

.Nav{
  text-align: right;

  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}


.Icons {
  position: relative;
  text-align: right;
  margin-top:125px;

  animation-name: fade-in; animation-duration: 1s; animation-timing-function: ease-in; animation-iteration-count: 1;
}

.faIcons{
  color: black;
  font-size: 1.50em;
}

.faIcons:hover{
  color:#848884;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
